<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.Signora"
        tools:targetApi="31">

        <!-- Existing activities and other components -->

        <activity
            android:name=".ui.frontend.tutorial.TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".ui.frontend.latihan.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.frontend.istilah.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.frontend.istilah.IstilahActivity"
            android:exported="false" />
        <activity
            android:name=".CameraX"
            android:exported="false"
            android:label="@string/title_activity_camera_x"
            android:theme="@style/Theme.Signora" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.frontend.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ForumActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.frontend.latihan.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.frontend.latihan.LatihanActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UsernameActivity"
            android:exported="false" />
        <activity
            android:name=".FotoProfilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.frontend.home.UserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.frontend.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.frontend.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.frontend.pager.PagerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.frontend.home.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.frontend.home.MainActivity"
            android:exported="true" />

        <service
            android:name=".ClearChatService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>